/* * {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}


body {
    background-color: hsl(222, 26%, 31%);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

body>p {
    text-align: end;
    margin: 45px;
    line-height: 20px;
    word-spacing: 2px;
    color: antiquewhite;
    text-shadow: 0px 0px 5px hsl(6, 63%, 50%);
}

body>p a {
    color: papayawhip;
}

.calculator {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: hsl(0, 0%, 100%);
    margin: auto;
    margin-top: 10vw;
}

#container1 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.theme {
    display: flex;
    align-items: end;
    gap: 15px;
}

.changeTheme {
    display: flex;
    flex-direction: column;
}

.nbTheme {
    display: flex;
    justify-content: space-around;
}

.radioBtn {
    background-color: hsl(223, 31%, 20%);
    display: flex;
    gap: 8px;
    border-radius: 20px;
    padding: 2.5px 3px;
    border: none;
}

.radioBtn input {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    border: none;
    background: none;
    cursor: pointer;
}


.radioBtn input:nth-child(1) {
    background-color: hsl(6, 63%, 50%);
}



#container2 {
    background-color: hsl(224, 36%, 15%);
    padding: 25px;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
}

#container2 h1 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.3px;
}

#container3 {
    background-color: hsl(223, 31%, 20%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
    border-radius: 8px;
}

#container3 input {
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    padding: 10px 0px;
    width: 110px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4.5px 0px hsl(28, 16%, 65%);
}

.boxShadow {
    box-shadow: 0px 0px 0px black;
}
*/
.radioBtn input:nth-child(1) {
    background-color: hsl(6, 63%, 50%);
    cursor: pointer;
}

.radioBtn input:nth-child(2),
.radioBtn input:nth-child(3) {
    background-color: #181F32;
    cursor: pointer;
    ;
}

@media screen and (min-width : 951px) {
    body {
        background-color: #3B4664;
    }

    .calculator {
        display: flex;
        flex-direction: column;
        padding: 20px 25px;
        gap: 20px;
    }

    #container1,
    .theme {
        display: flex;
        align-items: center;
    }

    #container1 {
        justify-content: space-between;
        color: white;
    }

    .theme {
        gap: 10px;
    }

    .changeTheme {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .radioBtn {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #181F32;
        padding: 5px 2.5px;
        border-radius: 50px;
        border: none;
        gap: 2px;
    }

    .radioBtn input {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: none;
    }

    #container2 {
        background-color: #181F32;
        width: 100%;
        height: max-content;
        border-radius: 15px;
        text-align: end;
        display: flex;
        align-items: center;
        padding: 25px 0px;
    }

    #container2>h1 {
        margin-left: 15px;
        color: white;
        font-size: 2.25rem;
        letter-spacing: 1.5px;
    }

    #container3 {
        display: flex;
        background-color: #181F32;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        padding: 35px 0px;
        border-radius: 15px;
    }

    .inputBtn {
        width: 20%;
        margin: 5px 0px;
        border: none;
        padding: 2% 0px;
        border-radius: 10px;
        font-weight: 900;
        font-size: 2rem;
    }
}